.title {
    text-align: center;
    font-size:32px;
    font-weight: 900;
}
.score {
    text-align:center;
}
.players,
.scores {
    display:flex;
    text-align:center;
    justify-content: center;
    gap: 20px;
    font-size:32px;
    font-weight: 900;
    padding:10px 200px;
}
.player,
.score
{
    flex:1;
    display:flex;
    justify-content: center;
}
.choices{
    display:flex;
    justify-content: center;
    gap: 50px;

}
